body {
  background: rgb(16, 21, 36);
}

html,
body {
  width: 100%;
  height: 100%;
  color: navajowhite;
}

.grid_wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    "bg1 hd hd hd hd bg2"
    ". smed . . . ."
    ". about about about about ."
    /* ". ft1 ft1 image1 image1 ."
    ". image2 image2 ft2 ft2 ."
    ". ft3 ft3 image3 image3 ." */
    ". ft1 ft1 ft1 ft1 ."
    ". ft2 ft2 ft2 ft2 ."
    ". ft3 ft3 ft3 ft3 ."
    ". gif gif gif2 gif2 ."
    "footer footer footer footer footer footer";

  grid-gap: 10px;
}

.row {
  margin: 0;
}

.main_title {
  grid-area: hd;
}

.social_media {
  grid-area: smed;
  margin-top: -10px;
  align-self: center;
  justify-self: left;
}

.about {
  grid-area: about;
  /* font-family: "Press Start 2P", cursive; */
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.gif_1 {
  grid-area: gif;
  justify-content: space-around;
}

.gif_2 {
  grid-area: gif2;
  justify-content: space-around;
}

.footer {
  grid-area: footer;
  margin-bottom: -125px;
  background-color: black;
  color: white;
}

.fa {
  font-size: 75px;
}

h2,
h3 {
  text-align: center;
}

.ft1 {
  grid-area: ft1;
  align-self: center;
  justify-self: center;
}

.ft2 {
  grid-area: ft2;
  align-self: center;
  justify-self: center;
}

.ft3 {
  grid-area: ft3;
  align-self: center;
  justify-self: center;
}

.ft1,
.ft2,
.ft3 {
  font-family: "Press Start 2P", cursive;
}

.img1_container {
  display: grid;
  grid-area: image1;
  width: 100%;
}

.img2_container {
  display: grid;
  grid-area: image2;
  width: 100%;
}

.img3_container {
  display: grid;

  grid-area: image3;
  width: 100%;
}

.img3 {
  width: 35%;
  justify-self: center;
}

.img1 {
  width: 75%;
  justify-self: center;
}

.img2 {
  width: 75%;
  justify-self: center;
}

.bg1 {
  grid-area: bg1;
  background: black;
  margin-right: -10px;
}

.bg2 {
  grid-area: bg2;
  background: black;
  margin-left: -12px;
}

.logo {
  position: absolute;
  width: 12%;
  grid-column-start: 1;
  grid-column-end: 2;
}
